--
-- PostgreSQL database dump
--

\restrict LvjW1Nk4RvLONYxXz6vWu29tnhMCFcXbpT6NcBsnxwKdjN2NAYkobB3jC5I79mo

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: appointmentstatus; Type: TYPE; Schema: public; Owner: unique
--

CREATE TYPE public.appointmentstatus AS ENUM (
    'AGENDADO',
    'CONFIRMADO',
    'REALIZADO',
    'FALTOU',
    'CANCELADO'
);


ALTER TYPE public.appointmentstatus OWNER TO "unique";

--
-- Name: role; Type: TYPE; Schema: public; Owner: unique
--

CREATE TYPE public.role AS ENUM (
    'ADMIN',
    'PROFISSIONAL'
);


ALTER TYPE public.role OWNER TO "unique";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO "unique";

--
-- Name: anamnesis; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.anamnesis (
    id integer NOT NULL,
    patient_id integer NOT NULL,
    professional_id integer,
    template_key character varying(100) NOT NULL,
    answers json NOT NULL,
    created_by_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.anamnesis OWNER TO "unique";

--
-- Name: anamnesis_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.anamnesis_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.anamnesis_id_seq OWNER TO "unique";

--
-- Name: anamnesis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.anamnesis_id_seq OWNED BY public.anamnesis.id;


--
-- Name: anamnesis_templates; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.anamnesis_templates (
    id integer NOT NULL,
    category character varying(100) NOT NULL,
    fields json NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_by_id integer,
    updated_by_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    instructions text
);


ALTER TABLE public.anamnesis_templates OWNER TO "unique";

--
-- Name: anamnesis_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.anamnesis_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.anamnesis_templates_id_seq OWNER TO "unique";

--
-- Name: anamnesis_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.anamnesis_templates_id_seq OWNED BY public.anamnesis_templates.id;


--
-- Name: appointments; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.appointments (
    id integer NOT NULL,
    patient_id integer NOT NULL,
    professional_id integer NOT NULL,
    appointment_date date NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    status public.appointmentstatus NOT NULL,
    notes text,
    created_by_id integer,
    updated_by_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    recurrence_group_id character varying(36)
);


ALTER TABLE public.appointments OWNER TO "unique";

--
-- Name: appointments_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.appointments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.appointments_id_seq OWNER TO "unique";

--
-- Name: appointments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.appointments_id_seq OWNED BY public.appointments.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    actor_id integer,
    action character varying(100) NOT NULL,
    resource_type character varying(100) NOT NULL,
    resource_id character varying(100) NOT NULL,
    details json NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO "unique";

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO "unique";

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_by_id integer,
    updated_by_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.categories OWNER TO "unique";

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO "unique";

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: legacy_import_mappings; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.legacy_import_mappings (
    id integer NOT NULL,
    source character varying(50) DEFAULT 'emergent'::character varying NOT NULL,
    entity_type character varying(50) NOT NULL,
    legacy_id character varying(100) NOT NULL,
    target_id integer NOT NULL,
    details json NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.legacy_import_mappings OWNER TO "unique";

--
-- Name: legacy_import_mappings_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.legacy_import_mappings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.legacy_import_mappings_id_seq OWNER TO "unique";

--
-- Name: legacy_import_mappings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.legacy_import_mappings_id_seq OWNED BY public.legacy_import_mappings.id;


--
-- Name: medical_records; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.medical_records (
    id integer NOT NULL,
    patient_id integer NOT NULL,
    professional_id integer NOT NULL,
    record_date date NOT NULL,
    category character varying(100) NOT NULL,
    content text NOT NULL,
    created_by_id integer NOT NULL,
    updated_by_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.medical_records OWNER TO "unique";

--
-- Name: medical_records_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.medical_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.medical_records_id_seq OWNER TO "unique";

--
-- Name: medical_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.medical_records_id_seq OWNED BY public.medical_records.id;


--
-- Name: patients; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.patients (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    birth_date date,
    cpf character varying(14),
    phone character varying(30),
    email character varying(255),
    address text,
    guardian_name character varying(200),
    guardian_phone character varying(30),
    notes text,
    accepts_reminders boolean NOT NULL,
    active boolean NOT NULL,
    created_by_id integer,
    updated_by_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.patients OWNER TO "unique";

--
-- Name: patients_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.patients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.patients_id_seq OWNER TO "unique";

--
-- Name: patients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.patients_id_seq OWNED BY public.patients.id;


--
-- Name: professional_availability; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.professional_availability (
    id integer NOT NULL,
    professional_id integer NOT NULL,
    weekday integer NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.professional_availability OWNER TO "unique";

--
-- Name: professional_availability_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.professional_availability_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.professional_availability_id_seq OWNER TO "unique";

--
-- Name: professional_availability_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.professional_availability_id_seq OWNED BY public.professional_availability.id;


--
-- Name: professional_categories; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.professional_categories (
    id integer NOT NULL,
    professional_id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.professional_categories OWNER TO "unique";

--
-- Name: professional_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.professional_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.professional_categories_id_seq OWNER TO "unique";

--
-- Name: professional_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.professional_categories_id_seq OWNED BY public.professional_categories.id;


--
-- Name: professional_patient; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.professional_patient (
    professional_id integer NOT NULL,
    patient_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.professional_patient OWNER TO "unique";

--
-- Name: professionals; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.professionals (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(30),
    professional_registration character varying(100),
    active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.professionals OWNER TO "unique";

--
-- Name: professionals_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.professionals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.professionals_id_seq OWNER TO "unique";

--
-- Name: professionals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.professionals_id_seq OWNED BY public.professionals.id;


--
-- Name: reminders; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.reminders (
    id integer NOT NULL,
    patient_id integer NOT NULL,
    scheduled_for timestamp with time zone NOT NULL,
    status character varying(30) NOT NULL,
    channel character varying(30) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.reminders OWNER TO "unique";

--
-- Name: reminders_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.reminders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reminders_id_seq OWNER TO "unique";

--
-- Name: reminders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.reminders_id_seq OWNED BY public.reminders.id;


--
-- Name: spreadsheet_entries; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.spreadsheet_entries (
    id integer NOT NULL,
    entry_date date NOT NULL,
    description character varying(255) NOT NULL,
    category character varying(100) NOT NULL,
    amount_cents integer NOT NULL,
    entry_type character varying(20) NOT NULL,
    notes text,
    created_by_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.spreadsheet_entries OWNER TO "unique";

--
-- Name: spreadsheet_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.spreadsheet_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.spreadsheet_entries_id_seq OWNER TO "unique";

--
-- Name: spreadsheet_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.spreadsheet_entries_id_seq OWNED BY public.spreadsheet_entries.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: unique
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role public.role NOT NULL,
    active boolean NOT NULL,
    professional_id integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO "unique";

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: unique
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO "unique";

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: unique
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: anamnesis id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.anamnesis ALTER COLUMN id SET DEFAULT nextval('public.anamnesis_id_seq'::regclass);


--
-- Name: anamnesis_templates id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.anamnesis_templates ALTER COLUMN id SET DEFAULT nextval('public.anamnesis_templates_id_seq'::regclass);


--
-- Name: appointments id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.appointments ALTER COLUMN id SET DEFAULT nextval('public.appointments_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: legacy_import_mappings id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.legacy_import_mappings ALTER COLUMN id SET DEFAULT nextval('public.legacy_import_mappings_id_seq'::regclass);


--
-- Name: medical_records id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.medical_records ALTER COLUMN id SET DEFAULT nextval('public.medical_records_id_seq'::regclass);


--
-- Name: patients id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.patients ALTER COLUMN id SET DEFAULT nextval('public.patients_id_seq'::regclass);


--
-- Name: professional_availability id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.professional_availability ALTER COLUMN id SET DEFAULT nextval('public.professional_availability_id_seq'::regclass);


--
-- Name: professional_categories id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.professional_categories ALTER COLUMN id SET DEFAULT nextval('public.professional_categories_id_seq'::regclass);


--
-- Name: professionals id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.professionals ALTER COLUMN id SET DEFAULT nextval('public.professionals_id_seq'::regclass);


--
-- Name: reminders id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.reminders ALTER COLUMN id SET DEFAULT nextval('public.reminders_id_seq'::regclass);


--
-- Name: spreadsheet_entries id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.spreadsheet_entries ALTER COLUMN id SET DEFAULT nextval('public.spreadsheet_entries_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.alembic_version (version_num) FROM stdin;
20261005_0006
\.


--
-- Data for Name: anamnesis; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.anamnesis (id, patient_id, professional_id, template_key, answers, created_by_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: anamnesis_templates; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.anamnesis_templates (id, category, fields, active, created_by_id, updated_by_id, created_at, updated_at, instructions) FROM stdin;
\.


--
-- Data for Name: appointments; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.appointments (id, patient_id, professional_id, appointment_date, start_time, end_time, status, notes, created_by_id, updated_by_id, created_at, updated_at, recurrence_group_id) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.audit_logs (id, actor_id, action, resource_type, resource_id, details, created_at) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: unique
--



--
-- Data for Name: legacy_import_mappings; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.legacy_import_mappings (id, source, entity_type, legacy_id, target_id, details, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: medical_records; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.medical_records (id, patient_id, professional_id, record_date, category, content, created_by_id, updated_by_id, created_at, updated_at) FROM stdin;
1	1	5	2026-09-16	teste	skdjhvgbudkerfjhgvbaernnnnnnnnnnnnnnnnnnnnnn	1	1	2026-09-29 03:27:44.65594+00	2026-09-30 03:23:49.197646+00
\.


--
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.patients (id, name, birth_date, cpf, phone, email, address, guardian_name, guardian_phone, notes, accepts_reminders, active, created_by_id, updated_by_id, created_at, updated_at) FROM stdin;
1	Arthur	2009-07-21	12423512345	21967609271	amaralgusta021@gmail.com	rua londrina 152	Valeria	21967609271	saefedferdhtgfh	t	f	1	1	2026-09-29 03:18:11.318211+00	2026-09-29 03:32:14.129468+00
\.


--
-- Data for Name: professional_availability; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.professional_availability (id, professional_id, weekday, start_time, end_time, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: professional_categories; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.professional_categories (id, professional_id, name) FROM stdin;
1	1	Psicologia ABA e TCC
2	4	Psicopedagogia
3	5	Terapia Ocupacional
\.


--
-- Data for Name: professional_patient; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.professional_patient (professional_id, patient_id, created_at) FROM stdin;
1	1	2026-09-29 03:18:11.332893+00
\.


--
-- Data for Name: professionals; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.professionals (id, name, email, phone, professional_registration, active, created_at, updated_at) FROM stdin;
5	Rogerio	roger@gmail.com	172634512545	\N	f	2026-09-29 03:24:19.706646+00	2026-09-29 03:32:23.137625+00
4	Valeria	valeria@gmail.com	2123985765	\N	t	2026-09-29 03:21:13.519084+00	2026-09-30 02:45:15.550493+00
1	Gustavo Amaral	amaralgusta021@gmail.com	21967609271	\N	t	2026-09-29 03:16:28.530601+00	2026-09-30 02:45:40.0647+00
\.


--
-- Data for Name: reminders; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.reminders (id, patient_id, scheduled_for, status, channel, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: spreadsheet_entries; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.spreadsheet_entries (id, entry_date, description, category, amount_cents, entry_type, notes, created_by_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: unique
--

COPY public.users (id, email, password_hash, role, active, professional_id, created_at, updated_at) FROM stdin;
1	admin@unique.local	$argon2id$v=19$m=65536,t=3,p=4$Zt99EfYEVvOaKNiqZBCnqQ$Qkk4SF2cNI2dHsS4We+v8B39kGZh+v6g0GFlTM1am9Q	ADMIN	t	\N	2026-08-18 15:18:21.517502+00	2026-08-18 15:18:21.517502+00
34	amaralgusta021@gmail.com	$argon2id$v=19$m=65536,t=3,p=4$WB0UpbVEfCkTijfIZgDqBw$lILvDai+HwebNkYanJrQQhiMDMIATI6l+xLEl2TLQKY	PROFISSIONAL	t	1	2026-09-30 02:46:05.748394+00	2026-09-30 02:46:05.748394+00
\.


--
-- Name: anamnesis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.anamnesis_id_seq', 1, false);


--
-- Name: anamnesis_templates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.anamnesis_templates_id_seq', 1, false);


--
-- Name: appointments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.appointments_id_seq', 1, false);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 1, false);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.categories_id_seq', 13, true);


--
-- Name: legacy_import_mappings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.legacy_import_mappings_id_seq', 1, false);


--
-- Name: medical_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.medical_records_id_seq', 1, true);


--
-- Name: patients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.patients_id_seq', 3, true);


--
-- Name: professional_availability_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.professional_availability_id_seq', 4, true);


--
-- Name: professional_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.professional_categories_id_seq', 3, true);


--
-- Name: professionals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.professionals_id_seq', 5, true);


--
-- Name: reminders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.reminders_id_seq', 1, false);


--
-- Name: spreadsheet_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.spreadsheet_entries_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: unique
--

SELECT pg_catalog.setval('public.users_id_seq', 34, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: anamnesis anamnesis_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.anamnesis
    ADD CONSTRAINT anamnesis_pkey PRIMARY KEY (id);


--
-- Name: anamnesis_templates anamnesis_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.anamnesis_templates
    ADD CONSTRAINT anamnesis_templates_pkey PRIMARY KEY (id);


--
-- Name: appointments appointments_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: legacy_import_mappings legacy_import_mappings_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.legacy_import_mappings
    ADD CONSTRAINT legacy_import_mappings_pkey PRIMARY KEY (id);


--
-- Name: medical_records medical_records_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.medical_records
    ADD CONSTRAINT medical_records_pkey PRIMARY KEY (id);


--
-- Name: patients patients_cpf_key; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_cpf_key UNIQUE (cpf);


--
-- Name: patients patients_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (id);


--
-- Name: professional_availability professional_availability_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.professional_availability
    ADD CONSTRAINT professional_availability_pkey PRIMARY KEY (id);


--
-- Name: professional_categories professional_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.professional_categories
    ADD CONSTRAINT professional_categories_pkey PRIMARY KEY (id);


--
-- Name: professional_patient professional_patient_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.professional_patient
    ADD CONSTRAINT professional_patient_pkey PRIMARY KEY (professional_id, patient_id);


--
-- Name: professionals professionals_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.professionals
    ADD CONSTRAINT professionals_pkey PRIMARY KEY (id);


--
-- Name: professionals professionals_professional_registration_key; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.professionals
    ADD CONSTRAINT professionals_professional_registration_key UNIQUE (professional_registration);


--
-- Name: reminders reminders_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_pkey PRIMARY KEY (id);


--
-- Name: spreadsheet_entries spreadsheet_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.spreadsheet_entries
    ADD CONSTRAINT spreadsheet_entries_pkey PRIMARY KEY (id);


--
-- Name: anamnesis_templates uq_anamnesis_template_category; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.anamnesis_templates
    ADD CONSTRAINT uq_anamnesis_template_category UNIQUE (category);


--
-- Name: categories uq_categories_name; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT uq_categories_name UNIQUE (name);


--
-- Name: legacy_import_mappings uq_legacy_import_mapping; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.legacy_import_mappings
    ADD CONSTRAINT uq_legacy_import_mapping UNIQUE (source, entity_type, legacy_id);


--
-- Name: professional_categories uq_professional_category; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.professional_categories
    ADD CONSTRAINT uq_professional_category UNIQUE (professional_id, name);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_professional_id_key; Type: CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_professional_id_key UNIQUE (professional_id);


--
-- Name: ix_anamnesis_patient_id; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_anamnesis_patient_id ON public.anamnesis USING btree (patient_id);


--
-- Name: ix_anamnesis_templates_active; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_anamnesis_templates_active ON public.anamnesis_templates USING btree (active);


--
-- Name: ix_anamnesis_templates_category; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_anamnesis_templates_category ON public.anamnesis_templates USING btree (category);


--
-- Name: ix_appointment_professional_slot; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_appointment_professional_slot ON public.appointments USING btree (professional_id, appointment_date, start_time, end_time);


--
-- Name: ix_appointments_appointment_date; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_appointments_appointment_date ON public.appointments USING btree (appointment_date);


--
-- Name: ix_appointments_patient_id; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_appointments_patient_id ON public.appointments USING btree (patient_id);


--
-- Name: ix_appointments_professional_id; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_appointments_professional_id ON public.appointments USING btree (professional_id);


--
-- Name: ix_appointments_recurrence_group_id; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_appointments_recurrence_group_id ON public.appointments USING btree (recurrence_group_id);


--
-- Name: ix_appointments_status; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_appointments_status ON public.appointments USING btree (status);


--
-- Name: ix_audit_logs_action; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: ix_audit_logs_actor_id; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_audit_logs_actor_id ON public.audit_logs USING btree (actor_id);


--
-- Name: ix_categories_active; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_categories_active ON public.categories USING btree (active);


--
-- Name: ix_categories_name; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_categories_name ON public.categories USING btree (name);


--
-- Name: ix_medical_records_patient_id; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_medical_records_patient_id ON public.medical_records USING btree (patient_id);


--
-- Name: ix_medical_records_professional_id; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_medical_records_professional_id ON public.medical_records USING btree (professional_id);


--
-- Name: ix_medical_records_record_date; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_medical_records_record_date ON public.medical_records USING btree (record_date);


--
-- Name: ix_patients_active; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_patients_active ON public.patients USING btree (active);


--
-- Name: ix_patients_name; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_patients_name ON public.patients USING btree (name);


--
-- Name: ix_professional_availability_professional_id; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_professional_availability_professional_id ON public.professional_availability USING btree (professional_id);


--
-- Name: ix_professional_categories_professional_id; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_professional_categories_professional_id ON public.professional_categories USING btree (professional_id);


--
-- Name: ix_professionals_active; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_professionals_active ON public.professionals USING btree (active);


--
-- Name: ix_professionals_email; Type: INDEX; Schema: public; Owner: unique
--

CREATE UNIQUE INDEX ix_professionals_email ON public.professionals USING btree (email);


--
-- Name: ix_professionals_name; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_professionals_name ON public.professionals USING btree (name);


--
-- Name: ix_reminders_patient_id; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_reminders_patient_id ON public.reminders USING btree (patient_id);


--
-- Name: ix_reminders_scheduled_for; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_reminders_scheduled_for ON public.reminders USING btree (scheduled_for);


--
-- Name: ix_spreadsheet_entries_category; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_spreadsheet_entries_category ON public.spreadsheet_entries USING btree (category);


--
-- Name: ix_spreadsheet_entries_entry_date; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_spreadsheet_entries_entry_date ON public.spreadsheet_entries USING btree (entry_date);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: unique
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_role; Type: INDEX; Schema: public; Owner: unique
--

CREATE INDEX ix_users_role ON public.users USING btree (role);


--
-- Name: anamnesis anamnesis_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.anamnesis
    ADD CONSTRAINT anamnesis_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- Name: anamnesis anamnesis_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.anamnesis
    ADD CONSTRAINT anamnesis_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: anamnesis anamnesis_professional_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.anamnesis
    ADD CONSTRAINT anamnesis_professional_id_fkey FOREIGN KEY (professional_id) REFERENCES public.professionals(id);


--
-- Name: anamnesis_templates anamnesis_templates_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.anamnesis_templates
    ADD CONSTRAINT anamnesis_templates_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: anamnesis_templates anamnesis_templates_updated_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.anamnesis_templates
    ADD CONSTRAINT anamnesis_templates_updated_by_id_fkey FOREIGN KEY (updated_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: appointments appointments_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: appointments appointments_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: appointments appointments_professional_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_professional_id_fkey FOREIGN KEY (professional_id) REFERENCES public.professionals(id);


--
-- Name: appointments appointments_updated_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_updated_by_id_fkey FOREIGN KEY (updated_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: audit_logs audit_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: categories categories_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: categories categories_updated_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_updated_by_id_fkey FOREIGN KEY (updated_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: medical_records medical_records_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.medical_records
    ADD CONSTRAINT medical_records_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- Name: medical_records medical_records_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.medical_records
    ADD CONSTRAINT medical_records_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: medical_records medical_records_professional_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.medical_records
    ADD CONSTRAINT medical_records_professional_id_fkey FOREIGN KEY (professional_id) REFERENCES public.professionals(id);


--
-- Name: medical_records medical_records_updated_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.medical_records
    ADD CONSTRAINT medical_records_updated_by_id_fkey FOREIGN KEY (updated_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: patients patients_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: patients patients_updated_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patients_updated_by_id_fkey FOREIGN KEY (updated_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: professional_availability professional_availability_professional_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.professional_availability
    ADD CONSTRAINT professional_availability_professional_id_fkey FOREIGN KEY (professional_id) REFERENCES public.professionals(id) ON DELETE CASCADE;


--
-- Name: professional_categories professional_categories_professional_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.professional_categories
    ADD CONSTRAINT professional_categories_professional_id_fkey FOREIGN KEY (professional_id) REFERENCES public.professionals(id) ON DELETE CASCADE;


--
-- Name: professional_patient professional_patient_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.professional_patient
    ADD CONSTRAINT professional_patient_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id) ON DELETE CASCADE;


--
-- Name: professional_patient professional_patient_professional_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.professional_patient
    ADD CONSTRAINT professional_patient_professional_id_fkey FOREIGN KEY (professional_id) REFERENCES public.professionals(id) ON DELETE CASCADE;


--
-- Name: reminders reminders_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(id);


--
-- Name: spreadsheet_entries spreadsheet_entries_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.spreadsheet_entries
    ADD CONSTRAINT spreadsheet_entries_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- Name: users users_professional_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unique
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_professional_id_fkey FOREIGN KEY (professional_id) REFERENCES public.professionals(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict LvjW1Nk4RvLONYxXz6vWu29tnhMCFcXbpT6NcBsnxwKdjN2NAYkobB3jC5I79mo

